body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(249, 252, 253), rgb(5, 172, 172));
    color: #333;
    margin: 0;
    padding-bottom: 100px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto; /* Adicionei margem para centralizar o formulário */
    max-width: 500px;
    grid-gap: 20px;
    background-color: #fff; /* Adicionei uma cor de fundo para o formulário */
    border-radius: 10px; /* Adicionei borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionei sombra para o formulário */
    padding: 30px;
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type=text],
select,
input[type=password],
input[type=date] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px; /* Ajustei o tamanho da fonte */
}

input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
