body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: 0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    text-align: center;
    color: #1db954;
}

.login-container form {
    margin-top: 20px;
}

.login-container label,
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.login-container input[type="submit"]:hover {
    background-color: #1ed760;
}