<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Endereço</title>
    <link rel='stylessheet' type='text/css' href='../css/endereco.css'>
    <script src='../script/enderco.js'></script>
</head>
<body>
    <form>
        <label>Titulo</label>
        <input type="text" id="titulo", name="titulo"/>

        <label>CEP</label>
        <input type="text" id="cep", name="cep"/>

        <label>Endereço</label>
        <input type="text" id="endereco", name="endereco"/>

        <label>Numero</label>
        <input type="text" id="numero", name="numero"/>

        <input type="button" value="Salvar" onclick="salvarEndereco()">
    </form>
</body>
</html>