<!DOCTYPE html>
<html>
<head>
    <title>Lista de Endereços</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/endereco.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/estilos.css" media="screen" />
</head>
<body>
    <header>
        <div class="containerlogo"> 
            <img src="../img/prata.jfif" class="logo">
            <a href="../index.html">Atllier Prata</a>
        </div>
        <ul>
            <a href="./endereco.html">Cadastre seu endereço</a>
        </ul>
    </header>
    <section class="endereco-lista">
        <h1>Lista de Endereços</h1>
        <div id="endereco-container"></div>
    </section>
    <script src="../script/home.js"></script>
</body>
</html>