<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Efetuado</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="wrapper"> <!-- Adicionando uma div de contêiner -->
        <div class="success-container">
            <h1>Cadastro Efetuado com Sucesso!</h1>
            <p>Seu cadastro foi realizado com sucesso. Você agora faz parte da nossa comunidade.</p>
            <a href="../index.html" class="btn">Voltar à Página Inicial</a>
        </div>
    </div>
</body>
</html>
