<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" />        
</head>
<body>
    <header>
        <div class="containerlogo"> 
            <img src="../img/prata.jfif" class="logo">
            <a href="../index.html">Atelier Prata</a>
        </div>
        <ul>
            <li><a href="./cadastro.html">Cadastrar</a></li> 
        </ul>
    </header>
    <section class="form">
        <h1>Login</h1>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email ou CPF">

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Senha">
                
                <input type="button" value="Login" onclick="login()">
            </div>
        </form>

        <div id="loading" style="display:none;">Carregando...</div>
        
        <div id="error-message"></div>
    </section>
    <footer>
        2024 @ Todos os Direitos Reservados à ATelier Prata
    </footer>
    <script src="../script/login.js"></script>
</body>
</html>
